<section class="services">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bi bi-brush"></i></div>
          <h4 class="title"><a href="">Arte </a></h4>
          <p class="description">Un servicio de calidad con la mejor mano de obra para tu personalización garantizada.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bi bi-people-fill"></i></div>
          <h4 class="title"><a href="">Artistas</a></h4>
          <p class="description">Edición totalmente personalizada de sus artistas preferidos.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-green">
          <div class="icon"><i class="bi bi-palette"></i></div>
          <h4 class="title"><a href="">Materiales</a></h4>
          <p class="description">Ofrecemos nuestros tenis de la marca NIKE con una calidad y comodidad a tus pies.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-blue">
          <div class="icon"><i class="bi bi-box2-heart"></i></div>
          <h4 class="title"><a href="">Mas Pedidos</a></h4>
          <p class="description">Desde ediciones, modelos y personalización... todo para ofrecerte la satisfacción de conceder y hacer realidad tu gusto personal.</p>
          
        </div>
      </div>

    </div>

  </div>