<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <div class="logo">
     <h1 class="text-light"><a href="index.html"><img src="../../assets/img/autentico.jpg" alt="">ART SHOE</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">  
      <ul>
        <li><a class="active" routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/modelos">Modelos</a></li>
        <li><a routerLink="/comentarios">Comentarios</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a [routerLink]="['registro']">Registrarse</a></li>
        <li class="dropdown"><a routerLink="#"><span>Categorias</span> <i class="bi bi-chevron-down"></i></a>
          
          <ul>
            <li><a href="#">Anime</a></li>
            <li><a href="#">Celebridades</a></li>
            <li><a href="#">Artistico</a></li>
            <li><a href="#">Mas vendidos</a></li>
          </ul>
          
        </li>
        <br>
 
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Iniciar Sesion
</button>
<br>
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Cerrar Sesion
</button>
<!-- Modal -->


      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="h2" id="exampleModalLabel">Bienvenido</h1> 
      </div>
      <div class="signupFrm">
        <form class="form">
            <h1 class="title">Iniciar Sesion</h1>
    
            <input type="email" name="correo " [(ngModel)]="form.correo" placeholder="Escribe tu correo electronico.">
            <br>
            <label>
                contraseña
            </label>
            <br>
            <input type="password" [(ngModel)]="form.contrasena" name="contrasena" placeholder="Debe contener 8 caracteres.">
            <br>
            <a href="">
                ¿Olvidaste tu contraseña?
            </a>
            <br><br>
            
            <!--BOTON-->
            <button (click)="iniciarSesion()">Ingresar <i class ="fas fa-sign-in-alt"></i></button>
            <br><br>
            <a [routerLink]="['../registro']">
             ¿Ya tienes cuenta? ¡Inicia Sesión!
            </a>
        </form>
    </div>
  </div>
</div>