<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <div class="logo">
     <h1 class="text-light"><a href="index.html"><img src="../../assets/img/autentico.jpg" alt="">ART SHOE</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">  
      <ul>
        <li><a class="active" routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/modelos">Modelos</a></li>
        <li><a routerLink="/comentarios">Comentarios</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li class="dropdown"><a routerLink="#"><span>Categorias</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Anime</a></li>
            <li><a href="#">Celebridades</a></li>
            <li><a href="#">Artistico</a></li>
            <li><a href="#">Mas vendidos</a></li>
          </ul>
        </li>
        <br>
 
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Iniciar Sesion
</button>
<br>
<li><a [routerLink]="['registro']">Registrarse</a></li>
<!-- Modal -->


      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="h2" id="exampleModalLabel">Bienvenido</h1> 
      </div>
        <div class="mb-4">
          <label for="exampleFormControlInput1" class="form-label">Usuario</label>
          <input type="email" class="form-control border-success" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
        <input type="email" class="form-control border-success" id="exampleFormControlInput1">
        <p><em>Crear usuario</em></p>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-outline-warning">Ingresar</button>
      </div>
    </div>
  </div>
</div>