<header id="header" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <div class="logo">
     <h1 class="text-light"><a href="index.html"><img src="../../assets/img/autentico.jpg" alt="">ART SHOE</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">  
      <ul>
        <li><a class="active" routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/modelos">Modelos</a></li>
        <li><a routerLink="/comentarios">Comentarios</a></li>
        <li><a routerLink="/blog">Blog</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> 
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    
      <table class="nav">
      
      <tr>
      
      <td>
      
      <a [routerLink]="['inicio']" [routerLinkActive]="'active'"> 
      
      <i class="bi bi-house-heart fa-2x"></i><br>
      
      <span> Inicio</span>
      
      </a>
      
      </td>
      
      <td>
      
      <a [routerLink]="['modelos']" [routerLinkActive]="'active'">
      
      <i class="bi bi-card-image fa-2x"></i><br>
      
      <span> Modelos</span>
      
      </a>
      
      </td>
      
      <td>
      
      <a [routerLink]="['comentarios']" [routerLinkActive]="'active'">
      
      <i class="bi bi-chat-heart-fill fa-2x"></i><br>
      
      <span> Comentarios</span>
      
      </a>
      
      </td>
      
      <td>
      
      <a [routerLink]="['blog']" [routerLinkActive]="'active'">
      
      <i class="bi bi-window-sidebar fa-2x"></i><br>
      
      <span> Blog</span>
      
      </a>
      
      </td>
      
      <td>
      
      <a [routerLink]="['registro']" [routerLinkActive]="'active'">
      
      <i class="bi bi-person-circle fa-2x"></i><br>
      
      <span> Registrarse</span>
      
      </a>
      
      </td>
      </table>  
      
      </nav> -->

 
<!-- Button trigger modal -->
<button type="button" *ngIf="usuario_activo==false" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Iniciar Sesion
</button>
<a [routerLink]="['']" (click)="cerrarSesion()" *ngIf="usuario_activo==true">
  <i class="fa-solid fa-right-from-bracket" >Cerrar Sesion</i></a>
</div>
</header><!-- End Header -->

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="h2" id="exampleModalLabel">Inicio de sesión</h1> 
      </div>
      <div class="signupFrm">
        <form class="form container">
            <label> Ingresar correo</label>
    
            <input class="form-control" type="email" name="correo " [(ngModel)]="form.correo" placeholder="Escribe tu correo electronico.">
            <br>
            <label>
             Contraseña
            </label>
            <br>
            <input class="form-control" type="password" [(ngModel)]="form.contrasena" name="contrasena" placeholder="Debe contener 8 caracteres.">
              <a data-bs-dismiss="modal" [routerLink]="['registro']">
                ¿No tienes cuenta? ¡Regístrate!
               </a>
          
            <br><br>
            
            <!--BOTON-->
            <button type="button" (click)="iniciarSesion()" *ngIf="usuario_activo==false" class ="btn btn-success">Ingresar </button>
            <br><br>
        </form>
    </div>
  </div>
</div>