
<figure class="text-center"><a href="#" class="link-info">CONTACTANOS</a> <br>
<i class="bi bi-facebook">ART SHOE</i>   <br> <i class="bi bi-whatsapp">867-314-9045</i> <br>
 <i class="bi bi-instagram">art_shoetiendaoficial</i>
 </figure>
 <!-- footer template -->
 <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        
        <div>¿Quienes somos?
            Somos arte! nuestras metas es hacer de tu inspiración, <br>
            capricho, anhelo... UNA REALIDAD.</div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
      </div>
    </div>
  </footer>
