

 <!-- footer template -->
 <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        
        <div>¿Quienes somos?
            Somos arte! nuestras metas es hacer de tu inspiración, <br>
            capricho, anhelo... UNA REALIDAD.
            <p><em>Luis Garcia & Cecilia Reyes</em></p></div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/profile.php?id=100083074035404" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/art_shoetiendaoficial?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=8673149045" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
      </div>
    </div>
  </footer>
