
<!--seccion nuevp-->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="../../../assets/img/vertical.jpg" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

            <h4 class="title"><a href="">Modelo Avenger</a></h4>
            <p class="description">El modelo de tenis blanco es uno de los mas vendidos debido a que son un clasico del closet combinable para todo tipo de ocasion. En este modelo aplicamos edición de los vengadores por supuesto al gusto del cliente.</p>
          
            <div class="row">
                <div class="col-lg-6 video-box">
                  <img src="../../../assets/img/blackneon.jpg" class="img-fluid" alt="">
                  <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>
          
            <h4 class="title"><a href="">Modelo Black</a></h4>
            <p class="description">En este modelo es uno de los mas modernos y de edición limitada debido a la tinta neón que utilizamos. En este estilo aplicamos diseño de Itachi</p>
          </div>

          <div class="row">
            <div class="col-lg-6 video-box">
              <img src="../../../assets/img/tintafosfo.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>
      
        <h4 class="title"><a href="">Modelo Fosforescente</a></h4>
        <p class="description">Uno de los modelos mas coloridos con tinta fosforescente, igualmente al gusto de uno de nuestro clientes.</p>
      </div>
        </div>
      </div>
<!--ejemplo-->

    </div>
  </section>