<!--seccion nuevp-->
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
  <div class="container">
    <div class="d-flex flex-column justify-content-center p-5">
      <div class="row">
        <div class="col-lg-4  col-sm-12 video-box">
          <img src="../../../assets/img/vertical.jpg" class="img-fluid mb-2" alt="Imagen zapatos">


          <h4 class="title  mb-2">Modelo Avenger</h4>
          <p class=" centrar-texto">El modelo de tenis blanco es uno de los mas vendidos debido a que son un clasico del
            closet combinable para todo tipo de ocasion. En este modelo aplicamos edición de los vengadores por supuesto
            al gusto del cliente.</p>


        </div>

        <div class="col-lg-4  col-sm-12 video-box">
          <img src="../../../assets/img/blackneon.jpg" class="img-fluid mb-2" alt="">

          <h4 class="title mb-2">Modelo Black</h4>
          <p class=" centrar-texto">En este modelo es uno de los mas modernos y de edición limitada debido a la tinta neón
            que utilizamos. En este estilo aplicamos diseño de Itachi</p>
        </div>
        <div class="col-lg-4 video-box">
          <img src="../../../assets/img/tintafosfo.jpg" class="img-fluid mb-2" alt="">

          <h4 class="title mb-2">Modelo Fosforescente</h4>
          <p class=" centrar-texto">Uno de los modelos mas coloridos con tinta fosforescente, igualmente al gusto de uno de
            nuestro clientes.</p>
        </div>
      </div>
    </div>
  </div>
</section>