<div class="signupFrm">
    <form action="" class="form">
        <h1 class="title">Registro</h1>

        <div class="">
            <label>Nombre
            </label>
            <input  class="form-control" type="text" [(ngModel)]="form.nombre" name="nombre" placeholder="a">
        </div>

        <div class="inputcontainer">
                    <label>Correo Electrónico
                    </label>
                    <input class="form-control" type="email" [(ngModel)]="form.correo" name="correo" placeholder="a">
        </div>

        <div class="inputcontainer">
                    <label>Contraseña
                    </label>
                    <input class="form-control" type="password" [(ngModel)]="form.contrasena" name="contrasena" placeholder="a">
        </div>

            <div class="inputcontainer">
                    <label>Confirma tu contraseña
                    </label>
                    <input class="form-control" type="password" [(ngModel)]="ccontrasena" name="ccontrasena" placeholder="a">
        </div>

        <!--BOTON-->
        <button class="btn btn-warning" (click)="Registrarme()">Registrarme <i class ="fas fa-sign-in-alt"></i></button>
        <br><br>
        <a [routerLink]="['registro']">
         ¿Ya tienes cuenta? ¡Inicia Sesión!
        </a>
    </form>
</div>

