<div class="signupFrm">
    <form action="" class="form">
        <h1 class="title">Registrar</h1>

        <div class="inputcontainer">
            <label>Nombre
            </label>
            <input type="text" [(ngModel)]="form.nombre" name="nombre" placeholder="a">
        </div>

        <div class="inputcontainer">
                    <label>Correo Electronico
                    </label>
                    <input type="email" [(ngModel)]="form.correo" name="correo" placeholder="a">
        </div>

        <div class="inputcontainer">
                    <label>Contraseña
                    </label>
                    <input type="password" [(ngModel)]="form.contrasena" name="contrasena" placeholder="a">
        </div>

            <div class="inputcontainer">
                    <label>Confirma tu contraseña
                    </label>
                    <input type="password" [(ngModel)]="ccontrasena" name="ccontrasena" placeholder="a">
        </div>

        <!--BOTON-->
        <button (click)="Registrarme()">Registrarme <i class ="fas fa-sign-in-alt"></i></button>
        <br><br>
        <a [routerLink]="['../sesion']">
         ¿Ya tienes cuenta? ¡Inicia Sesión!
        </a>
    </form>
</div>

